[Unit]
Description=Accessible Distributed Computing
Wants=network-online.target
After=network-online.target

[Service]
User=distribute
Type=simple
ExecStart=/bin/bash -c "PATH=/opt/paraview59headless/bin:/opt/apptainer/bin/:/home/distribute/.cargo/bin:$PATH exec /home/distribute/.cargo/bin/distribute --save-log --show-logs client '/home/distribute/data' --log-file '/home/distribute/logs/output.log'"
Restart=on-failure

[Install]
WantedBy=multi-user.target
